@page
@using System.Text
@using EventsBerry.Repository
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>主页</title>
    <style>
        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid #333333;
            padding: 3px 5px;
        }

        .customize-button {
            border: 1px solid #00bfff;
            background: #008b8b;
            color: #ffffff;
            padding: 10px;
            display: inline-block;
            -ms-border-radius: 10px;
            border-radius: 10px;
            text-decoration: none;
        }

        .customize-button:hover {
                background: #00abab;
            }
    </style>
</head>
<body>

    <h1>活动记录</h1>

    @* SPA / New Page *@
    @*https://stackoverflow.com/questions/4563235/where-does-asp-net-virtual-path-resolve-the-tilde*@
    <a class="customize-button" href="~/home/create">+ 新建活动 1</a>

    @Html.ActionLink("+ 新建活动 2", "Create", "Home", null, new { @class = "customize-button" })

    <input id="add" type="button" value="+ 新建活动 3" />

    <script>
        var addButton = document.querySelector('#add');
        addButton.onclick = function () {
            window.location = "/home/create";
        }
    </script>





    @* 方式 1 *@
    <h2>全部活动 Way 1</h2>
    <input id="refresh-1" type="button" value="刷新 1" />

    <table>
        <thead>
            <tr>
                <td>主题</td>
                <td>组织人</td>
                <td>描述</td>
                <td>活动时间</td>
                <td>已签到的参与者</td>
            </tr>
        </thead>
        <tbody>
            @{
                var repo = new EventRepository();
            }

            @foreach (var e in repo.GetAll())
            {
                var participators = new StringBuilder();
                foreach (var p in e.CheckInList)
                {
                    participators.AppendJoin(", ", p.ParticipatorDisplayName);
                }

                <tr>
                    <td>@e.Topic</td>
                    <td>@e.OrganizerDisplayName</td>
                    <td>@e.Description</td>
                    <td>@e.TimeRange</td>
                    <td>@participators.ToString()</td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        var refreshButton1 = document.querySelector('#refresh-1');
        refreshButton1.onclick = function () {
            window.location.reload();
        }
    </script>

    <br />
    <br />

    @* 方式 2 *@
    <h2>全部活动 Way 2</h2>
    <input id="refresh-2" type="button" value="刷新 2" />
    <table>
        <thead>
            <tr>
                <td>主题</td>
                <td>组织人</td>
                <td>描述</td>
                <td>活动时间</td>
                <td>已签到的参与者</td>
            </tr>
        </thead>
        <tbody id="event-list"></tbody>
    </table>

    <script>

        var refreshButton2 = document.querySelector('#refresh-2');
        refreshButton2.onclick = function () {

            fetch('/api/event', {
                method: "GET"
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                console.log(data);
                var participators = "";
                var html = "";

                data.forEach((d) => {

                    d.checkInList.forEach((e) => {
                        participators += (e.participatorDisplayName + ", ");
                    });

                    html += `<tr><td>${d.topic}</td><td>${d.organizerDisplayName}</td><td>${d.description}</td><td>${d.timeRange}</td><td>${participators}</td></tr>`;

                });

                var eventList = document.querySelector('#event-list');
                eventList.innerHTML = html;

            }).catch(function (e) {

                console.log("Oops, error" + e);
            });

        }
    </script>
</body>
</html>
